<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>

      <%= render 'users/userinfo', user: @user %>

      <div class="col-md-9 ">
        </br>
        <h5>
          <i class="fas fa-user"></i>
          <strong>フォロワー</strong>
        </h5>
        <table class='table table-inverse'>
          <% if @users.exists? %>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <% if user.profile_image.attached? %>
                    <%= image_tag user.profile_image, class:"circle5"; %>
                  <% else %>
                    <%= image_tag('no_image.jpg', class:"circle5") %>
                  <% end %>
                </td>
                <td>
                  <%= link_to user.name, user_path(user) %>
                </td>
                <td>
                  フォロー数: <%= user.followings.count %>
                </td>
                <td>
                  フォロワー数: <%= user.followers.count %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <div class="card-deck-container col-md-9">
              ユーザーはいません。
            </div>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</main>

