<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>

        <%= render 'users/userinfo', user: current_user %>

        <div class="card-deck-container col-md-9">
          <h2>フォロー</h2>
          <div class="row">
            <% if @users.exists? %>
              <% @users.each do |user| %>

                <div class="card col-8 mx-3 mb-4 px-5 embed-responsive shadow-sm text-center">
                  <% if user.profile_image.attached? %>
                    <%= link_to post_path(post.id) do %>
                      <%= image_tag user.profile_image.variant(resize:'40x40'), class:"card-img-top"; %>
                    <% end %>
                  <% else %>
                    <%= image_tag('no_image.jpg', size:'40x40') %>
                  <% end %>

                  <%= user.name %>
                  フォロー数: <%= user.followings.count %>
                  フォロワー数: <%= user.followers.count %>
                  <%= link_to "Show", user_path(user) %>
                  </div>
              <% end %>
            <% else %>
              <div class="card-deck-container col-md-9">
               ユーザーはいません。
              </div>
            <% end %>
          <%#= paginate post_images %>
          </div>
        </div>

  </div>
</main>