
<!--visitor : 通知を送ったユーザー  visited : 通知を送られたユーザー-->
<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-md-6.mx-auto">
  <div class="form-inline mb-2 col-xl-12">
    <small class="col-md-4 col-xl-4 text-muted font-type2">
      <%= notification.created_at.strftime('%Y/%m/%d %H:%M') %>
    </small>
    <span class="font-type">
      <%= link_to user_path(visitor) do %>
        <%= visitor.name %>さんが
        <% case notification.action %>
          <% when 'follow' then %>
          <%= link_to "あなたをフォローしました", user_path(visitor) %>
          <% when 'favorite' then %>
            <%= link_to "あなたの投稿にいいねしました", notification.post %>
          <% when 'comment' then %>
            <% if notification.post.user_id == visited.id %>
              <%= link_to "あなたの投稿にコメントしました", notification.post %>
            <% else %>
              <%= link_to "#{notification.post.user.name} さんの投稿にコメントしました", post_path(notification.post) %>
            <% end %>
        <% end %>
      <% end %>
    </span>
  </div>
</div>
