<div class='col-md-3 text-center'>
  <table class="mx-auto text-break">
    </br>
    <tr>
      <%= link_to user_path(user.id) do %>
        <% if user.profile_image.attached? %>
          <%= image_tag user.profile_image.variant(resize:'120x120'), class: "circle" %>
        <% else %>
          <%= image_tag('no_image.jpg', size:'120x120', class: "circle") %>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th><h3><%= user.name %></h3></th>
    </tr>
  </table>
  <div>
    <strong>
  	  <span id="follow_">
  	    <%= render 'relationships/follow' %>
  	  </span></br>
      <%= link_to user_followings_path(user.id) do %>
        <span id="follow_count"><%= user.followings.count %> フォロー</span>
      <% end %>
    </strong>
  </div>
  <div>
    <strong>
      <%= link_to user_followers_path(user.id) do %>
        <span id="follower_count"><%= user.followers.count %> フォロワー</span>
      <% end %>
      <% if current_user != user %>
        <%= link_to ' chatを始める', chat_path(user.id), class: 'fas fa-comment-dots' %>
      <% end %>
    </strong>
  </div>
</div>