<div class='col-md-3 text-center'>
  <h2>User info</h2>
  <table class="mx-auto">
    <tr>
      <% if user.profile_image.attached? %>
        <%= image_tag user.profile_image.variant(resize:'100x80') %>
      <% else %>
        <%= image_tag('no_image.jpg', size:'100x80') %>
      <% end %>
    </tr>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
    </tr>
    <tr>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
    	<th><span id="follow_">
    	  <%= render 'relationships/follow' %>
    	</span></th>
    </tr>
    <tr>
      <th><span id="follow_count">フォロー数：<%= link_to user.followings.count, user_followings_path(user.id) %></span></th>
    </tr>
    <tr>
      <th><span id="follower_count">フォロワー数：<%= link_to user.followers.count, user_followers_path(user.id) %></span></th>
    </tr>
    
    <tr>
      <th>
        <% if current_user != user %>
          <%= link_to 'chatを始める', chat_path(user.id)%>
        <% end %>
      </th>
    </tr>
  </table>
</div>