<%= render 'users/error_windows', post: @user %>
<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>
      <%= render 'users/userinfo', user: @user %>
      <div class='col-md-9'>
        </br>
        <strong>
          <%= form_with model: @user, local: true do |f| %>
            <div class="page-header">
              <h5>
                <i class="fas fa-pencil-alt"></i>
                <strong>プロフィール編集</strong>
              </h5>
            </div></br>
            <div class="form-group">
              <label for="user_name">名前
                <span class="text-black-50">（10文字以内）</span>
              </label></br>
              <%= f.text_field :name, autofocus: true, class:"form-control col-5 shadow-sm" %>
            </div></br>
            <div class="form-group">
              <div class="field">
                <%= f.label :profile_image, "画像" %><span class="must"></span>
              <span class="text-black-50">（必須）</span>
              </div>
              <!--javascriptとの関連付けを行う記述-->
              <%= f.file_field :profile_image, class: "push", onchange: "loadImage(this);" %>
            </div></br>
              <!--選択した画像をプレビュー表示する記述-->
            <div id="profile_image" style="display: none;">
              <p id="preview"></p>
            </div>
            <div class="form-group">
              <label for="user_introduction">自己紹介
                <span class="text-black-50">（50文字以内）</span>
              </label></br>
              <%= f.text_area :introduction, autofocus: true, class:"form-control col-8 shadow-sm" %>
            </div></br>
            <div class="form-group">
              <%= f.submit "保存する", class:"btn btn-outline-info" %>
            </div>
          <% end %></br></br>
          <h5>
            <strong>現在のプロフィール</strong>
          </h5>
          <div class="col-5 mt-4 mb-4 text-center">
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.profile_image.variant(resize:'250x250'), class:"circle2" %>
              <% else %>
                <%= image_tag('no_image.jpg', size:'250x250', class:"circle2") %>
              <% end %>
          </div>
          <div class="col-7 mb-4">
              <div class="col-10">
                </br><p>名前</p>
                <p><%= @user.name %></p></br>
                <p>自己紹介</p>
                <p><%= @user.introduction %></p>
              </div>
          </div>
          <%= render "loadimage" %>
        </strong>
      </div>
    </div>
  </div>
</main>