<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>

      <%= render 'users/userinfo', user: @user %>

      <div class='col-md-9'>
        </br>
        <h4>プロフィール編集</h4></br>
          <%= form_with model:@user, local:true do |f| %>
            <div class="form-group">
              <label for="user_name">名前</label></br>
              <%= f.text_field :name, autofocus: true, class:"form-control col-5 name" %>
            </div></br>
            <div class="form-group">
              <label for="user_image">画像</label></br>
              <%= f.file_field :profile_image %>
            </div></br>
            <div class="form-group">
              <label for="user_introduction">自己紹介</label></br>
              <%= f.text_area :introduction, autofocus: true, class:"form-control col-8 introduction" %>
            </div></br>
            <div class="form-group">
              <%= f.submit "保存する", class:"btn btn-outline-info" %>
            </div>
          <% end %></br>
        <h4>現在のプロフィール</h4>
        <div class="row">
          <div class="col-5 mt-2 mb-4">
            <% if @user.profile_image.attached? %>
              <%= image_tag @user.profile_image.variant(resize:'250x250'), class:"circle2" %>
            <% else %>
              <%= image_tag('no_image.jpg', size:'250x250', class:"circle2") %>
            <% end %>
          </div>
          <div class="col-7 mb-4">
            <div class="col-10 text-center">
              </br><p>ユーザーネーム</p>
              <p><%= @user.name %></p></br>
              <p>自己紹介</p>
              <p><%= @user.introduction %></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>