<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>

        <div class='col-md-3' style="text-align:center;">
          <h2>User info</h2>
          <table class="row justify-content-center">
            <tr>
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.image.variant(resize:'100x80') %>
              <% else %>
                <%= image_tag('no_image.jpg', size:'100x80') %>
              <% end %>
            </tr>
            <tr>
        	    <th>name</th>
        	  </tr>
        	  <tr>
        	    <th><%= @user.name %></th>
            </tr>
            <tr>
        	    <th>introduction</th>
        	  </tr>
        	  <tr>
        	    <th><%= @user.introduction %></th>
        	  </tr>
          </table>
        </div>

        <div class="card-deck-container col-md-9">

            <h2>My Page</h2>
            <div class="row">
            <div class="card col-6 mx-3 mb-4 shadow-sm">
                <% if @user.profile_image.attached? %>
                  <%= image_tag @user.profile_image.variant(resize:'250x220') %>
                <% else %>
                  <%= image_tag('no_image.jpg', size:'250x220') %>
                <% end %>
            </div>
            <div class="card col-5 mb-4 shadow-sm">
                <div class="row">
                  <div class="col-12" style="text-align:center;">
                    <%= @user.name %>
                    <%= @user.introduction %>
                  </div>
                </div>
            </div>
          </div>


        </div>
      </div>
    </div>
</main>

