<main class="bg-white shadow-sm">
  <p id="notice"></p>
<div class='container'>
  <div class='row'>

    <%= render 'users/userinfo', user: @user %>

    <div class='col-md-8'>
      <h2>Editing Post</h2>
      <div class="card embed-responsive shadow-sm">
        <% if @post.post_image.attached? %>
          <%= link_to post_path(@post.id) do %>
            <%= image_tag @post.post_image, class:"card-img-top"; %>
          <% end %>
        <% else %>
          <%= image_tag('no_image.jpg') %>
        <% end %>
      </div>
        <%= form_with model:@post, local:true do |f| %>
          <div class="form-group">
            <label for="title">Title</label></br>
            <%= f.text_field :title, autofocus: true, class:"form-control col-5 name" %>
          </div>

          <div class="form-group">
            <label for="user_introduction">Introduction</label></br>
            <%= f.text_area :body, autofocus: true, class:"form-control col-8 introduction" %>
          </div>

          <div class="form-group">
            <%= f.submit "Update", class:"btn btn-secondary" %>
          </div>
        <% end %>

    </div>

  </div>
</div>
</main>