<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>
      <%= render 'users/userinfo', user: current_user %>
      <div class="card-deck-container col-md-9">
        </br>
        <h4>#<%= @tag.hashname %></h4>
        <div class="row">
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <div class="card col-5 mx-3 mb-4 embed-responsive shadow-sm">
                <% if post.post_image.attached? %>
                  <%= link_to post_path(post.id) do %>
                    <%= image_tag post.post_image, class:"card-img-top"; %>
                  <% end %>
                <% else %>
                  <%= image_tag('no_image.jpg') %>
                <% end %>
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <% if post.user.profile_image.attached? %>
                        <%= image_tag post.user.profile_image.variant(resize:'50x50'), class:"circle3"; %>
                      <% else %>
                        <%= image_tag('no_image.jpg', size:'50x50', class:"circle3") %>
                      <% end %>
                    </div>
                    <div class="col-9 offset-1">
                      <p class="card-title">
                        <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
                        <strong>
                          <i class="far fa-flag"></i>
                          <span> <%= post.title %></span>
                        </strong>
                      </p>
                      <span><i class="fas fa-user"></i>  <%= post.user.name %> ｜ </span>
                      <span><%= link_to "#{post.post_comments.count} コメント", post_path(post.id), class:"text-dark" %></span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="card-deck-container col-md-9">
              投稿がありません。
            </div>
          <% end %>
        </div>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</main>

