<% @post.each do |post| %>
<div>
  <%= attachment_image_tag post, :image %>
  <p>投稿ユーザー画像：<%= image_tag('sample-author1.jpg') %></p>
  <p>タイトル：<%= post.title %></p>
  <p>説明：<%= post.body %></p>
  <p>ユーザー：<%= post.user.name %></p>
</div>
<% end %>