<%= render 'users/error_windows', post: @post %>
<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>
      <%= render 'users/userinfo', user: current_user %>
      <div class='col-md-9'>
        </br>
        <strong>
          <h4></h4>
          <%= form_with model: @post, local:true do |f| %>
            <div class="form-group">
              <div class="field">
                <%= f.label :post_image, "画像" %><span class="must"></span>
              <span class="text-black-50">（必須）</span>
              </div>
              <!--javascriptとの関連付けを行う記述-->
              <%= f.file_field :post_image, class: "push", onchange: "loadImage(this);" %>
            </div></br>
              <!--選択した画像をプレビュー表示する記述-->
            <div id="post_image" style="display: none;">
              <p id="preview"></p>
            </div>
            <div class="form-group">
              <label for="post_title">タイトル
                <span class="text-black-50">（必須）</span>
              </label></br>
              <%= f.text_field :title, class:"form-control book_title col-10 shadow-sm", placeholder:"10文字以内" %>
            </div></br>
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="post_body">内容
                    <span class="text-black-50">（必須）</span>
                  </label></br>
                  <%= f.text_area :body, class:"form-control book_body col-8 shadow-sm", placeholder:"1000文字以内" %>
                </div>
              <div class="col-4 offset-8">
                <div class="form-group">
                  <%= f.submit '投稿する', class:"btn btn-outline-info" %>
                </div>
              </div>
              </div>
            </div>
          <% end %>
          <%= render "loadimage" %>
        </strong>
      </div>
    </div>
  </div>
</main>