<main style="background-color: #F7F7F7;">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>

        <div class='col-md-3' style="text-align:center;">
          <h2>User info</h2>
          <table>
            <tr>
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.image.variant(resize:'200x200') %>
              <% else %>
                <%= image_tag('no_image.jpg' , size: '200x180') %>
              <% end %>
            </tr>
            <tr>
        	    <th>name</th>
        	  </tr>
        	  <tr>
        	    <th><%= @user.name %></th>
            </tr>
            <tr>
        	    <th>introduction</th>
        	  </tr>
        	  <tr>
        	    <th><%= @user.introduction %></th>
        	  </tr>
          </table>
        </div>

        <!--<div class='col-md-8 offset-md-1'>-->
        <!--  <h2>Post detail</h2>-->
        <!--    <%#= form_with model: @post, local:true do |f| %>-->
        <!--      <div class="form-group">-->
        <!--        <label for="book_title">Image</label></br>-->
        <!--        <%#= f.file_field :image %>-->
        <!--      </div>-->
        <!--      <div class="form-group">-->
        <!--        <label for="book_title">Title</label></br>-->
        <!--        <%#= f.text_field :title, class:"form-control book_title" %>-->
        <!--      </div>-->
        <!--      <div class="form-group">-->
        <!--        <label for="book_opinion">Opinion</label></br>-->
        <!--        <%#= f.text_area :body, class:"form-control book_body" %>-->
        <!--      </div>-->
        <!--      <div class="form-group">-->
        <!--        <%#= f.submit 'Create Post', class:"btn btn-success" %>-->
        <!--      </div>-->
        <!--    <%# end %>-->
        <!--</div>-->

        <div class="card-list-containar py-5 px-5">
          <div class="card w-50 mx-auto mt-4">
              <% if @post.post_image.attached? %>
                <%= image_tag @post.post_image, class:"card-img-top"; %>
              <% else %>
                <%= image_tag('no_image.jpg') %>
              <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <% if @user.profile_image.attached? %>
                    <%= image_tag @user.profile_image.variant(resize:'60x60'), class:"mt-3 rounded-circle"; %>
                  <% else %>
                    <%= image_tag('no_image.jpg' , size:'60x60') %>
                  <% end %>
                </div>
                <div class="col-10">
                  <p class="card-title">
                    <strong><i class="far fa-flag"></i><span> <%= @post.title %></span></strong>
                  </p>
                  <p class="card-text"><%= @post.body %></p>
                  <span><i class="fas fa-user"></i> By <%= @user.name %> ｜ </span>
                  <span><%#= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id), class:"text-dark" %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <p>コメント件数：<%= @post.post_comments.count %></p>
          <% @post.post_comments.each do |post_comment| %>
            <!--<p><%#= image_tag('sample-author1.jpg') %></p>-->
            <%= post_comment.user.name %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
            <% if post_comment.user == current_user %>
              <div>
                <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
              </div>
            <% end %>
          <% end %>
          <% if @post.favorited_by?(current_user) %>
            <p>
              <%= link_to post_favorites_path(@post), method: :delete do %>
                ♥<%= @post.favorites.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to post_favorites_path(@post), method: :post do %>
                ♡<%= @post.favorites.count %> いいね
              <% end %>
            </p>
          <% end %>
        </div>
        <div>
          <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>

    </div>
  </div>
</main>