<main class="bg-white shadow-sm">
  <p id="notice"></p>
  <div class='container'>
    <div class='row'>

        <div class='col-md-3' style="text-align:center;">
          <h2>User info</h2>
          <table class="row justify-content-center">
            <tr>
              <% if @user.profile_image.attached? %>
                <%= image_tag @user.profile_image.variant(resize:'100x80') %>
              <% else %>
                <%= image_tag('no_image.jpg', size:'100x80') %>
              <% end %>
            </tr>
            <tr>
        	    <th>name</th>
        	  </tr>
        	  <tr>
        	    <th><%= @user.name %></th>
            </tr>
            <tr>
        	    <th>introduction</th>
        	  </tr>
        	  <tr>
        	    <th><%= @user.introduction %></th>
        	  </tr>
          </table>
        </div>

        <div class="card-deck-container col-md-9">
          <h2>Detail</h2>
          <div class="card col-11 mx-1 embed-responsive shadow-sm">
              <% if @post.post_image.attached? %>
                <%= image_tag @post.post_image, class:"card-img-top"; %>
              <% else %>
                <%= image_tag('no_image.jpg') %>
              <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-2" style="text-align:center;">
                  <% if @user.profile_image.attached? %>
                    <%= image_tag @user.profile_image.variant(resize:'50x40'), class:"mt-3 rounded-circle"; %>
                  <% else %>
                    <%= image_tag('no_image.jpg', size:'50x40') %>
                  <% end %>
                  <%= @user.name %>
                </div>

                <div class="col-10">
                  <p class="card-title">
                    <strong><i class="far fa-flag"></i><span> <%= @post.title %></span></strong>
                  </p>
                  <p class="card-text"><%= @post.body %></p>
                  <span>
                    <% if @post.favorited_by?(current_user) %>
                      <%= link_to post_favorites_path(@post), method: :delete do %>
                        ♥<%= @post.favorites.count %> いいね
                      <% end %>
                    <% else %>
                      <%= link_to post_favorites_path(@post), method: :post do %>
                        ♡<%= @post.favorites.count %> いいね
                      <% end %>
                    <% end %>
                  </span>
                  <span>　　<%= @post.post_comments.count %> 件のコメント</span>
                </div>
              </div>
            </div>
          </div>

          <% @post.post_comments.each do |post_comment| %>
            <div class="card col-11 mx-1 mt-3 embed-responsive shadow-sm">
              <div class="card-body">
                <div class="row">
                  <div class="col-2" style="text-align:center;">
                    <% if post_comment.user.profile_image.attached? %>
                     <%= image_tag post_comment.user.profile_image.variant(resize:'50x40') %>
                    <% else %>
                     <%= image_tag('no_image.jpg', size:'50x40') %>
                    <% end %>
                    <%= post_comment.user.name %>
                  </div>
                  <div class="col-10">
                    <%= post_comment.created_at.strftime('%Y/%m/%d') %></br>
                    <%= post_comment.comment %>
                   <div>
                    <% if post_comment.user == current_user %>
                      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
                    <% end %>
                   </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
            <div class="row">
              <div class="col-8 mx-1 mt-3">
                <div class="form-group">
                  <%= f.text_area :comment, placeholder: "新しいコメント", class: 'form-control shadow-sm' %>
                </div>
              </div>
              <div class="col-2 mt-5">
                <div class="form-group">
                  <%= f.submit "送信する" %>
                </div>
              </div>
            </div>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</main>